USE [master]
GO
/****** Object:  Database [SanPhamTieuDung]    Script Date: 5/24/2023 8:31:17 PM ******/
CREATE DATABASE [SanPhamTieuDung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SanPhamTieuDung', FILENAME = N'D:\SQL sever\MSSQL15.SQLEXPRESS\MSSQL\DATA\SanPhamTieuDung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SanPhamTieuDung_log', FILENAME = N'D:\SQL sever\MSSQL15.SQLEXPRESS\MSSQL\DATA\SanPhamTieuDung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SanPhamTieuDung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SanPhamTieuDung]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongSanPham] [int] NULL,
	[MaHoaDon] [int] NULL,
	[MaSanPham] [int] NULL,
	[Gia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[MaChucNang] [int] IDENTITY(1,1) NOT NULL,
	[TenChucNang] [nvarchar](50) NULL,
	[MaLoaiTaiKhoan] [int] NULL,
	[ActionName] [nvarchar](50) NULL,
	[ControllerName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[MaDanhMucSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMucSanPham] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMucSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TongSoLuong] [int] NULL,
	[TongTien] [int] NULL,
	[NgayMua] [datetime] NULL,
	[MaPhuongThuc] [int] NULL,
	[MaTrangThai] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChiGiaoHang] [nvarchar](100) NULL,
	[SdtLienLac] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTaiKhoan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[EmailNguoiDung] [varchar](50) NULL,
	[SdtNguoiDung] [varchar](11) NULL,
	[DiaChiNguoiDung] [nvarchar](50) NULL,
	[UserNames] [varchar](50) NULL,
	[PassWords] [varchar](max) NULL,
	[MaLoaiTaiKhoan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPhuongThuc] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuongThuc] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[DonGia] [int] NULL,
	[MoTaSanPham] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTaChiTietSanPham] [nvarchar](max) NULL,
	[MaDanhMucSanPham] [int] NULL,
	[CachDungSanPham] [nvarchar](max) NULL,
	[HinhAnh2] [nvarchar](max) NULL,
	[HinhAnh3] [nvarchar](max) NULL,
	[khuyenmai] [nvarchar](30) NULL,
	[CongDung] [nvarchar](2000) NULL,
	[ThanhPhan] [nvarchar](2000) NULL,
 CONSTRAINT [PK__SanPham__FAC7442D10800F8F] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[MaTrangThai] [int] NOT NULL,
	[TenTrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [SoLuongSanPham], [MaHoaDon], [MaSanPham], [Gia]) VALUES (12, 2, 9, 17, 980000)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [SoLuongSanPham], [MaHoaDon], [MaSanPham], [Gia]) VALUES (13, 2, 10, 8, 498000)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [SoLuongSanPham], [MaHoaDon], [MaSanPham], [Gia]) VALUES (14, 1, 10, 9, 449000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucNang] ON 

INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [MaLoaiTaiKhoan], [ActionName], [ControllerName]) VALUES (1, N'Quản lý người dùng', 1, N'index', N'NguoiDungs')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [MaLoaiTaiKhoan], [ActionName], [ControllerName]) VALUES (2, N'Quản lý danh mục sản phẩm', 1, N'index', N'DanhMucSanPhams')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang], [MaLoaiTaiKhoan], [ActionName], [ControllerName]) VALUES (3, N'Quản lý sản phẩm', 1, N'index', N'SanPhams')
SET IDENTITY_INSERT [dbo].[ChucNang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] ON 

INSERT [dbo].[DanhMucSanPham] ([MaDanhMucSanPham], [TenDanhMucSanPham]) VALUES (1, N'QuanTum Beauty World')
INSERT [dbo].[DanhMucSanPham] ([MaDanhMucSanPham], [TenDanhMucSanPham]) VALUES (2, N'QuanTum Daily World')
INSERT [dbo].[DanhMucSanPham] ([MaDanhMucSanPham], [TenDanhMucSanPham]) VALUES (3, N'Quantum Healthy World')
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [TongSoLuong], [TongTien], [NgayMua], [MaPhuongThuc], [MaTrangThai], [MaNguoiDung], [TenKhachHang], [DiaChiGiaoHang], [SdtLienLac]) VALUES (9, 2, 882000, CAST(N'2023-05-24T19:36:34.767' AS DateTime), 2, 2, NULL, N'Đinh Quang Khải', N'149/33A29 Bành Văn Trân, p7, Tân bình', N'0343483519')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TongSoLuong], [TongTien], [NgayMua], [MaPhuongThuc], [MaTrangThai], [MaNguoiDung], [TenKhachHang], [DiaChiGiaoHang], [SdtLienLac]) VALUES (10, 3, 852300, CAST(N'2023-05-24T19:43:46.757' AS DateTime), 2, 2, 11, N'Quang Khải', N'Phạm Văn Bạch , Tân Bình, HCM', N'0343483519')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (2, N'Nhân viên bán hàng')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (3, N'Khách hàng')
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [UserNames], [PassWords], [MaLoaiTaiKhoan]) VALUES (3, N'quangkhai', N'khai02@gmail.com', N'0343483519', N'Quận Tân Bình, TP.HCM', N'khai02', N'a6e1cb143d02abde2c692ab3e6fbd576', 3)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [UserNames], [PassWords], [MaLoaiTaiKhoan]) VALUES (4, N'Quang Khải', N'jonddemon2307@gmail.com', N'0343483519', N'Quận Tân Bình, TP.HCM', N'admin', N'4aa320b8074cf0d4a9eb3af7bc19090c', 1)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [EmailNguoiDung], [SdtNguoiDung], [DiaChiNguoiDung], [UserNames], [PassWords], [MaLoaiTaiKhoan]) VALUES (10, N'Kim Tuyến', N'kimtuyen1997@gmail.com', N'0345392035', N'Phạm Văn Bạch, Quận Tân Bình, TP.HCM', N'tuyenkim1997', N'b647351fb4bb9ec73167ea96b06ee545', 2)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] ON 

INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (1, N'Thanh toán Chuyển khoản')
INSERT [dbo].[PhuongThucThanhToan] ([MaPhuongThuc], [TenPhuongThuc]) VALUES (2, N'Thanh toán khi nhận hàng')
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TrangThai] ([MaTrangThai], [TenTrangThai]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[TrangThai] ([MaTrangThai], [TenTrangThai]) VALUES (2, N'Đã xác nhận')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[ChucNang]  WITH CHECK ADD  CONSTRAINT [FK_CN_LTK] FOREIGN KEY([MaLoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[ChucNang] CHECK CONSTRAINT [FK_CN_LTK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_ND] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_ND]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_PTTT] FOREIGN KEY([MaPhuongThuc])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPhuongThuc])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_PTTT]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_TT] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThai] ([MaTrangThai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_TT]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ND_LTK] FOREIGN KEY([MaLoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_ND_LTK]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DMSP] FOREIGN KEY([MaDanhMucSanPham])
REFERENCES [dbo].[DanhMucSanPham] ([MaDanhMucSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_DMSP]
GO
/****** Object:  StoredProcedure [dbo].[DonHang_XacNhanDon]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DonHang_XacNhanDon] @mahoadon int
as
begin
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ; -- Sử dụng cấp độ cô lập REPEATABLE READ
	BEGIN TRAN;
	begin try
	UPDATE HoaDon
	SET MaTrangThai = 2
	WHERE  MaHoaDon = @mahoadon;
	select @@IDENTITY
	WAITFOR DELAY '00:00:05';
	COMMIT;
	end try
	begin catch
		rollback tran
		select -1 as result
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllProducts] @madmsp int
as begin
select * from SanPham where MaDanhMucSanPham = @madmsp;
end
GO
/****** Object:  StoredProcedure [dbo].[getProductKhuyenMai]    Script Date: 5/24/2023 8:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getProductKhuyenMai]
as begin
select * from SanPham where khuyenmai = N'Có'
end
GO
USE [master]
GO
