@model PJ_SanPhamTieuDung_.Net.Models.DanhMucSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Xóa danh mục sản phẩm</h5>

<h5 class="text-danger">Bạn có chắc muốn xóa không?</h5>
<div>
    <div class="d-flex justify-content-between">
        <h5>Danh mục sản phẩm</h5>
        <p>@Html.ActionLink("Trở về", "Index")</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Tên danh mục sản phẩm")</span>
            <input class="form-control my-1" type="text" name="TenDanhMuc" value="@Html.DisplayFor(model => model.TenDanhMucSanPham)" readonly />
        </div>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger my-2" />
        </div>
    }
</div>
