
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- breadcrumb -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a href="@Url.Action("index","HomeSP")"><i class="fa-solid fa-house me-1"></i>Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="ms-3">
        <h3 class="text-uppercase">Chuyên mục: tin tức</h3>
        <div class="row my-5">
            <div class="col-md-3"> <img style="width: 15rem;" class="shadow-sm border border-3" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fnews1.jpg?alt=media&token=2a82bf83-c3ae-42a3-8c86-415e645c7245" alt="news1"></div>
            <div class="col-md-9">
                <p><b>Tinh dầu bưởi đa-zi-năng thế nào ?</b></p>
                <p>Nếu là người quan tâm đến sức khỏe và làm đẹp, hẳn bạn đã biết đến những lợi ích tuyệt vời của tinh dầu bưởi. Bạn thường biết đến tác dụng đuổi muỗi, khử mùi hay làm mượt tóc của tinh dầu bưởi nhưng thực chất tinh dầu thiên nhiên này còn hữu ích hơn […]</p>
                <a href="https://naturalshop-3979.web.app/detail_news/detail_news1.html" class="btn btn-outline-success">Xem thêm</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3"> <img style="width: 15rem;" class="shadow-sm border border-3" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fnews1.jpg?alt=media&token=2a82bf83-c3ae-42a3-8c86-415e645c7245" alt="news1"></div>
            <div class="col-md-9">
                <p><b>5 công dụng bất ngờ của tinh dầu hoa oải hương</b></p>
                <p>Tinh dầu hoa Lavender được đánh giá là loại tinh dầu có hoạt tính cao, đem đến nhiều giá trị cho sức khỏe và làn da người sử dụng. Hương thơm thư thái, dễ chịu của tinh dầu Lavender nguyên chất sẽ tác động đến tuyến hạch nhân sâu trong não bộ của bạn và […]</p>
                <a href="https://naturalshop-3979.web.app/detail_news/detail_news2.html" class="btn btn-outline-success">Xem thêm</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3"> <img style="width: 15rem;" class="shadow-sm border border-3" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fnews2.jpg?alt=media&token=c9680653-e29e-42ff-a84a-d001043622cd" alt="news2"></div>
            <div class="col-md-9">
                <p><b>Lý do bạn nên sử dụng thành phần trà xanh chăm sóc sức khoẻ gia đình</b></p>
                <p>Không chỉ được biết đến như là một loại nước uống thông thường, trà xanh còn được chứng minh là thần dược trong việc chăm sóc sức khỏe và sắc đẹp. Trà xanh từ lâu đã được xem như một loại thảo dược hỗ trợ điều trị chứng đau đầu, trầm cảm và giúp ngăn ngừa […]</p>
                <a href="https://naturalshop-3979.web.app/detail_news/detail_news3.html" class="btn btn-outline-success">Xem thêm</a>
            </div>
        </div>
    </div>
    <!-- EndBody -->
</div>
<!-- end breadcrumb -->
